
#order-form{
  background-color: rgb(255, 255, 255, 0.8);
border-radius: 14px;
border-radius: 14px;
border-width: 10px;
border-color: black;
padding: 25px;
max-width: 500px;
margin: auto;
}

li {
  list-style-type: none;
}
input {
  margin-right: 10px;
}



input {
  margin-right: 10px;
}
#totalPriceDiv {
   padding-top: 20px;
}

#total {
  padding-top: 20px;
  margin: auto;
}

#welcomeTo {
  font-family: 'Sofia';font-size: 60px;
  text-align: center;
  color: white;
  padding-top: 10px;
}

html, body {
  min-height: 100%;
}
body {
  background: url(../img/background.jpg);
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  background-repeat:   no-repeat;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
