
body {
  background: url("../img/background.jpg")
}
#order-form{
  background-color: rgb(255, 255, 255, 0.8);
border-radius: 14px;
border-radius: 14px;
padding: 25px;
max-width: 500px;
margin: auto;
}

li {
  list-style-type: none;
}
input {
  margin-right: 10px;
}



input {
  margin-right: 10px;
}
#totalPriceDiv {
   padding-top: 20px;
}

#total {
  padding-top: 20px;
  margin: auto;
}

#welcomeTo {
  font-family: 'Sofia';font-size: 60px;
  text-align: center;
  color: white;
  padding-top: 10px;
}
